tags

# Ansible
ansible/ssh_key
ansible/hosts
ansible/hosts.bak
!ansible/vars/.gitkeep
ansible/vars/*

# Terraform
!terraform/vars/.gitkeep
terraform/vars/*
terraform/terraform/.terraform*
terraform/terraform/*tfstate*
terraform/terraform/hosts

terraform.bak/*tfstate*
!terraform.bak/vars/.gitkeep
terraform.bak/vars/*

# Backups
ansible-vars.tar.gz
terraform-vars.tar.gz
backup-private.asc
